@import "../utilities/mixins";

.icon-d {
  transition: color 1s ease-in-out 100ms;
}

.solid-h {
  position: relative;
  right: 40px;
  opacity: 0;
  transition: opacity 1s ease-in-out 100ms;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 1s ease-in-out 100ms;
  &:hover {
    opacity: 1;
  }
}

.fa-heart {
  font-size: 40px;
  @include for-desktop {
    
  }
  @include mobile {
  }
}

.solid-h {
  @include for-desktop {
    align-self: center;
  }
  @include mobile {
    width: 12.3%;
    text-align: end;
    align-self: center;
    font-size: xx-large;
    color: gray;
  }
}

.fa-circle-check {
  color: white;
  font-size: 24px;
}

.test {
  color: gray;
  align-self: center;
  @include mobile {
    width: 10%;
    text-align: end;
    font-size: xx-large;
  }
  @include for-desktop {
    text-align: end;
    width: 20%;
  }
}

.menu-heart{
  @include mobile {
    font-size: xx-large;
    position: absolute;
    top: 56%;
    right:10%;
  }
}