@import "../utilities/mixins";

.icon-d {
  transition: color 1s ease-in-out 100ms;
}

.solid-h {
  position: relative;
  right: 40px;
  opacity: 0;
  transition: opacity 1s ease-in-out 100ms;
  background: -webkit-linear-gradient(#9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 1s ease-in-out 100ms;
  &:hover {
    opacity: 1;
  }
}

.fa-heart {
  font-size: 40px;
  @include for-desktop {
    justify-self: end;
    position: relative;
    left: 230px;
  }
}

.fa-circle-check {
  color: white;
  font-size: 24px;
}
