@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
@import "../utilities/variables", "../utilities/mixins";

body {
  font-family: "Roboto", sans-serif;
}

#logo {
  font-family: "Shrikhand", cursive;
  font-size: 64px;
}

.text-center {
  text-align: center;
  width: 70%;
}

.menu-title {
  font-family: "Shrikhand", cursive;
  width: 100%;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom:10%;
  @include for-desktop {
   
  }
}

.category-title{
  &::after{
    position: relative;
    top: 10px;
    right: 85px;
    color:$third;
    content: "____";
  }
}

.off-ctgTitle{
  &::after{
    position: relative;
    top: 10px;
    right: 60px;
    color:$third;
    content: "____";
  }
}

.item-title{
  @include mobile {
  }
}

@include mobile {
  
  .category-title {
    text-align: left;
    width: 85%;
  }
}