@import "../utilities/variables", '../utilities/mixins';

#top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  height: 80vh;
  gap: 20px;
  background: #f2f2f2;
  text-align: center;
  h1 {
    font-weight: 900;
    width: 100;
    text-align: center;
  }
  sub {
    color: #acacac;
  }
}

#fonctionement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px; }
  #fonctionement h1 {
    align-self: start; }

.step-container, .number-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  @include for-desktop{
    flex-direction: row;
  }
}

.number-container{
  position: absolute;
  pointer-events: none;
  
}

.step, .number-wrap {
  height: 100px;
  border-radius: 45px;
  width: 80%;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include for-desktop{
    width: 26%;
  }
}

.step{
  background: #f2f2f2;
  box-shadow: 5px 10px 20px 1px;
  transition: background 1s ease-in-out 100ms;
  white-space: nowrap;
}

.step:hover {
  background: rgba(214, 186, 248, 0.9647058824);
}
.step:hover .icon-d {
  color: #9356DC;
}

.number-wrap {
  position: relative;
  top: 40px;
  pointer-events: none;
}

.number{
  position: relative;
  background: #9356DC;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 165px;
  color: white;
  &:nth-child(1){
    @include for-desktop {
      position: relative;
      right: 245px;
    }
  }
}

#restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  h1 {
    font-size: 48px;
    align-self: start;
  }
}

.card-container {
  display: flex;
  height: fit-content;
  width: 75%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 20px;
  a {
    text-decoration: none;
    color: #000;
    &:visited {
      color: #000;
    }
  }
}

.card {
  width: 45%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 20px 1px;
  min-width: 350px;
  min-height: 270px;
  @include for-desktop {
    height: 400px;
  }
  &:visited {
    color: black;
  }
  &-content{
    display: flex;
    flex-direction: row;
    gap: 90px;
    .title{
      font-size: 24px;
    }
  }
  &-text{
    margin: 10px 0 20px 15px;
    h3{
      margin: 0;
    }
  }
  &-action{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #d3d3d3;
  }
  &-img {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &:first-child {
    .card-img {
      background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    }
  }
  &:nth-child(2) > &-img {
    background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  }
  &:nth-child(3) > .card-img {
    background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  }
  &:last-child > .card-img {
    background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  }
}

.new{
  font-size: 16px;
  width: 20%;
  padding: 5px;
  background: #99E2D0 ;
  color: #007558;
  border-radius: 3px;
  text-align: center;
  position: absolute;
  left: 68%;
  margin-top: 15px;
  box-shadow: 1px 1px 20px black;
  @include for-desktop{
    width: 5%;
    left: 1430px;
  }
}

.lds-ring {
  display: inline-block;
  position: absolute;
  top: 400px;
  left: 40%;
  width: 80px;
  height: 80px;
  opacity: 0;
  animation: ease-in-out 10s vanish 1;
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(94, 94, 94) transparent transparent transparent;  
    &:nth-child(1){
      animation-delay: -1s;
    }
    &:nth-child(2){
      animation-delay: -0.5s;
    }
    &:nth-child(3){
      animation-delay: -0.10s;
    }
  }
}

#fonctionnement{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10%;
  h1{
    font-size: 32px;
    margin: 20px;
  }
}
#restaurant{
  h1{
    font-size: 32px;
  }
}

