@import "../utilities/variables", '../utilities/mixins';

#top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  height: 80vh;
  gap: 20px;
  background: #f2f2f2;
  text-align: center;
  h1 {
    font-weight: bolder;
    width: 90%;
    text-align: center;
  }
  @include mobile{
    max-height: 500px;
    height: 100%;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    padding: 50px 30px 80px 30px;
    h1{
      padding : 0 30px 0 30px;
    }
    sub {
      font-weight: 400;
      font-size: 20px;
      color:rgba(78, 78, 78, 0.965)
    }    
  }


}

.location{
  display: flex;
  width: 100%;
  gap: 30px;
  justify-content: center;
}

#fonctionement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}
.func-title {
 position: relative;
 right: 55px;
 top:60px;
 font-size:20px;
}

.step-container, .number-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
  @include for-desktop{
    flex-direction: row;
  }
}

.number-container{
  position: absolute;
  pointer-events: none;
  @include for-desktop {

  }
}

.step, .number-wrap {
  height: 80px;
  border-radius: 30px;
  width: 80%;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include for-desktop{
    width: 22%;
  }
}

.step{
  background: #f2f2f2;
  box-shadow: 5px 5px 20px 1px #d3d3d3;
  transition: background 1s ease-in-out 100ms;
  white-space: nowrap;
  .text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    font-weight: 700;
    font-size: 17,5px;
    text-align: justify;
    width: 70%;
    margin: 0;
  }
  .icon-d{
    color:rgb(94, 94, 94);
    font-size: 20px;
  }
}

.step:hover {
  background: rgba(235, 218, 255, 0.965);
}
.step:hover .icon-d {
  color: #9356DC;
}

.number-wrap {
  position: relative;
  top: 40px;
  pointer-events: none;
}


.number{
  position: relative;
  background: #9356DC;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 155px;
  color: white;
  &:nth-child(1){
    @include for-desktop {
      position: relative;
      right: 190px;
    }
  }
 
}

#restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  h1 {
    font-size: 48px;
    align-self: start;
  }
}

.card-container {
  display: flex;
  height: fit-content;
  width: 75%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 20px;
  a {
    text-decoration: none;
    color: #000;
    &:visited {
      color: #000;
    }
  }
}

.card {
  width: 45%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 20px 1px #c2c2c2;
  min-width: 350px;
  min-height: 270px;
  @include for-desktop {
    height: 400px;
  }
  &:visited {
    color: black;
  }
  &-content{
    display: flex;
    flex-direction: row;
    .title{
      white-space: nowrap;
      font-weight: 600;
      @include mobile {
        font-size: 18px;
      }
    }
  }
  &-text{
    margin: 10px 0 20px 15px;
    width: 80%;
    h3{
      margin: 0;
    }
    sub{
      @include mobile {
        font-size: 16px;
      }
    }
  }
  &-action{
    font-size: 24px;
    color: #d3d3d3;
   
  }
  &-img {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    height: 80%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &:first-child {
    .card-img {
      background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    }
  }
  &:nth-child(2) > &-img {
    background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  }
  &:nth-child(3) > .card-img {
    background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  }
  &:last-child > .card-img {
    background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  }
}

.new{
  font-size: 16px;
  width: 20%;
  padding: 5px;
  background: #99E2D0 ;
  color: #007558;
  border-radius: 3px;
  text-align: center;
  position: absolute;
  left: 68%;
  margin-top: 15px;
  box-shadow: 1px 1px 20px black;
  font-weight: 900;
  @include for-desktop{
    width: 5%;
    align-items: end;
    left: 77%;
    &-1{
      position: absolute;
      left: 41%;
    }
  }
}

.lds-ring {
  display: inline-block;
  position: absolute;
  top: 400px;
  left: 47%;
  width: 80px;
  height: 80px;
  opacity: 0;
  animation: ease-in-out 3s vanish 1;
  @include mobile {
    position: absolute;
    top: 400px;
    left: 40%;
  }
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: rgb(94, 94, 94) transparent transparent transparent;  
    &:nth-child(1){
      animation-delay: -1s;
    }
    &:nth-child(2){
      animation-delay: -0.5s;
    }
    &:nth-child(3){
      animation-delay: -0.10s;
    }
  }
}

#fonctionnement{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10%;
  h1{
    font-size: 32px;
    margin: 20px;
    @include for-desktop {
      align-self: flex-start;
      margin-left: 18.8%;
    }
  }
}
#restaurant{
  h1{
    font-size: 32px;
    @include for-desktop {
      margin-left: 15%;
    }
  }
}

