@import "../utilities/variables", "../utilities/mixins";

.menu-main {
  &-1 {
    background-image: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  }
  &-2 {
    background-image: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  }
  &-3 {
    background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  }
  &-4 {
    background-image: url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  }
  &-1,
  &-2,
  &-3,
  &-4 {
    background-size: 130%;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0%;
    padding: 0%;
    @include for-desktop{
      
      column-gap:0  ;
    }
  }
}

.entrée {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0 0;
  @include for-desktop {
    justify-content: center;
    align-items: center;
  }
}

.image-menu {
  height: 300px;
  width: 100px;
  z-index:-5;
}

.category {
  max-width: 100%;
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  row-gap: 5px;
  animation: 1 ease-in 0.5s apparition;
  
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(146, 145, 145);
    padding: 0px 0px 0px 10px;
    font-size: 18px;
    overflow: hidden;
    transform: translateY(10px);
    animation: 1 linear 2s opacity;
    @include for-desktop{
      width: 100%;
    }
    @include tablet {
      column-gap: 0;
    }
  }
  
}

.starter {
  .category-item {
    &:first-child {
      animation: fadein 1s linear;
    }
    &:nth-child(2) {
      animation: fadein 2s linear;
    }
    &:nth-child(3) {
      animation: fadein 3s linear;
    }
  }
}

.dish {
  .category-item {
    &:first-child {
      animation: fadein 4s linear;
    }
    &:nth-child(2) {
      animation: fadein 5s linear;
    }
    &:nth-child(3) {
      animation: fadein 6s linear;
    }
  }
}
.dessert {
  .category-item {
    &:first-child {
      animation: fadein 6.5s linear;
    }
    &:nth-child(2) {
      animation: fadein 7s linear;
    }
    &:nth-child(3) {
      animation: fadein 7.5s linear;
    }
  }
}

.item-title {
  font-weight: 900;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.price {
  position: relative;
  left: 50px;
  top:30px;
  transition: transform 500ms ease-in-out;
  text-align:center;
  margin: 0;
  padding: 0;
  height: 85%;
  font-weight: 900;
  @include for-desktop {
    left: 30px;
  }
  @include tablet {
    
  }
}

.category-item {
  display: flex;
  align-items: center;
  .select {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100px;
    background: $third;
    position: relative;
    right: -80px;
    transition: transform 500ms ease-in-out;
    @include for-desktop {
      width: 20%;
    }
    @include tablet {
      right: -85px;
      margin: 0;
    }
  }
  &:hover .select {
    opacity: 1;
    transform: translate(-80px);
    @include tablet {
    transform: translate(-80px);

    }
  }
  &:hover .price {
    opacity: 1;
    transform: translate(-40px);
    @include tablet {
      transform: translate(-40px);
    }
    &:before {
      opacity: 1;
    }
  }
  &:hover .item-text{
    width: 50%;
    @include tablet {
      width: 70%;
    }
  }
  &:hover .fa-circle-check {
    animation: 1 ease-in 1s spin;
  }

  .item-text {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
    height: 100%;
    padding-top: 25px;
    @include tablet {
      font-size:larger;  
    }
  }
}

.img-menu {
  height: 300px;
}

.category-item {
  min-width: 300px;
}

.entrée {
  margin: auto;
  border-radius: 0;
  @include for-desktop {
    width: 50%;
    height: 100%;
  }
}
.first-entry {
  border-radius: 50px 50px 0 0;
  @include for-desktop {
    border-radius: 25px 25px 0 0;
  }
}

.entrée-last {
  @include for-desktop {
  }
  @include mobile {
    padding-bottom: 60px ;
  }
  @include tablet {
  }
}
@include for-desktop {
  .category {
    width: 70%;
  }

 
  .btn-container {
    width: 90%;
    margin: auto;
    padding-bottom: 50px;
    position: relative;
    bottom: 50px;
  }
  .menu-main-1,
  .menu-main-2,
  .menu-main-3,
  .menu-main-4 {
    background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: 130%;
    background-position: -120px 0px;
    background-repeat: no-repeat;
  }
}


